{% extends 'core/index.html' %}
{% load static %}
{% block Home %}
<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 h-75">
                <div class="img-box">
                    <img src="{%static 'core/IMG/hall_clinic.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h2 class="custom_heading">
                        Sobre nuestra clinica
                        <span>
                            Dos alamos
                        </span>
                    </h2>
                    <p>
                        Dos Álamos es una clínica médica comprometida con la atención integral de la salud. 
                        Ofrecemos servicios médicos de calidad, personalizados y accesibles en diversas especialidades. 
                        Nuestro equipo altamente capacitado brinda atención médica de excelencia en un ambiente acogedor y equipado
                        con tecnología avanzada. Valoramos la comunicación abierta y establecemos relaciones de confianza a
                        largo plazo con nuestros pacientes. Nos mantenemos actualizados con los avances médicos más recientes 
                        y promovemos la prevención y el estilo de vida saludable. Nuestro objetivo es brindar tranquilidad
                        y cuidado compasivo a cada paso del camino.
                    </p>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}