{% extends 'core/index.html' %}
{% load static %}
{% block Home %}
<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="images/maletin.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h2 class="custom_heading">
                        Sobre nuestros pasientes en
                        <span>
                            Dos alamos
                        </span>
                    </h2>
                    <p>
                        En Dos Álamos, comprendemos que tu salud es lo más importante. Por eso, nos esforzamos por
                        ofrecerte una
                        amplia gama de servicios médicos para satisfacer todas tus necesidades. Contamos con
                        especialistas en
                        diversas áreas, desde medicina general hasta especialidades más específicas como cardiología,
                        pediatría,
                        ginecología, dermatología y muchas más.
                    </p>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}