{% extends 'core/index.html' %}
{% load static %}
{% block Home %}
<section class="map_section">
    <div id="map" class="h-100 w-100 ">
    </div>

    <div class="form_container ">
        <div class="row">
            <div class="col-md-8 col-sm-10 offset-md-4">
                <form action="">
                    <div class="text-center">
                        <h3>
                            Envia tus comentarios
                        </h3>
                    </div>
                    <div>
                        <input type="text" placeholder="Nombre" class="pt-3">
                    </div>
                    <div>
                        <input type="email" placeholder="Email">
                    </div>
                    <div>
                        <input type="text" class="message-box" placeholder="Mensaje">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button>
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}