{% extends 'core/index.html' %}
{% load static %}
{% block Home %}
<section class="gallery-section layout_padding">
  <div>
    <h2 class="textos">
      Nuestros Doctores
    </h2>
  </div>
  <div>
    <div class="container">
      <div class="card ">
        <img src="{% static 'core/IMG/doctor2.jpg'%}" alt="Avatar" class="imgdoctores" style="width:100%">
        <div class="container">
          <h4><b>Dra. Victoria Sinclair</b></h4>
          <p>Medicina General</p>
        </div>
      </div>
      <div class="card ">
        <img src="{% static 'core/IMG/doctor3.jpg'%}" alt="Avatar" class="imgdoctores" style="width:100%">
        <div class="container">
          <h4><b>Dr. Benjamin Hartley </b></h4>
          <p>oftalmología</p>
        </div>
      </div>
      <div class="card ">
        <img src="{% static 'core/IMG/doctor4.jpg'%}" alt="Avatar" class="imgdoctores" style="width:100%">
        <div class="container">
          <h4><b>Dr. Gabriel Foster</b></h4>
          <p>Odontología</p>
        </div>
      </div>
      <div class="card ">
        <img src="{% static 'core/IMG/doctor5.jpg'%}" alt="Avatar" class="imgdoctores" style="width:100%">
        <div class="container">
          <h4><b>Dr. Jonathan Whitman</b></h4>
          <p>Cardiología</p>
        </div>
      </div>
      <div class="card ">
        <img src="{% static 'core/IMG/doctor6.jpg'%}" alt="Avatar" class="imgdoctores" style="width:100%">
        <div class="container">
          <h4><b>Dra. Amelia Mitchell</b></h4>
          <p>Medicina interna</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}