{% extends 'core/index.html' %}
{% load static %}
{% block Home %}
<!-- about section -->

<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="{%static 'core/IMG/edificio.jpg'%}" alt="">
                </div>
            </div>

            <div class="col-md-6">
                <center>
                    <div class="detail-box" style="text-overflow: ellipsis;">
                        <h2 class="custom_heading">
                            El origen de
                            <span>
                                Dos alamos
                            </span>
                        </h2>
                        <p> El origen del Centro Médico Dos Álamos se remonta a muchos años atrás, cuando el
                            valle de Villa Esperanza estaba habitado por una tribu indígena conocida como los "Alamos".
                            Los
                            Alamos eran conocidos por su profundo conocimiento sobre las propiedades curativas de las
                            plantas y su conexión con la naturaleza.
                        </p>
                    </div>
                </center>
            </div>

        </div>
    </div>
</section>

<!-- service section -->
<!-- service section -->
<section class="service_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-2">
                <h2 class="custom_heading">
                    Nuestros <span>Servicios</span>
                </h2>
                <div class="container layout_padding2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img_box">
                                <img src="{%static 'core/IMG/patient.png'%}" alt="">
                            </div>
                            <div class="detail_box">
                                <h6>
                                    Consultas médicas
                                </h6>
                                <p>
                                    Proporcionamos atención médica general y especializada a los pacientes.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img_box">
                                <img src="{%static 'core/IMG/medical-symbol.png'%}" alt="">
                            </div>
                            <div class="detail_box">
                                <h6>
                                    Exámenes de laboratorio
                                </h6>
                                <p>
                                    Realizamos pruebas de laboratorio para diagnosticar
                                    enfermedades y evaluar la salud de los pacientes.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img_box">
                                <img src="{%static 'core/IMG/radiologia.png'%}" alt="">
                            </div>
                            <div class="detail_box">
                                <h6>
                                    Radiología:
                                </h6>
                                <p>
                                    Ofrecemos servicios de radiografía, resonancia magnética,
                                    tomografía computarizada u otros estudios de diagnóstico por imágenes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="{%static 'core/IMG/tool.png'%}" alt="" class="w-100">
            </div>
        </div>
    </div>
</section>

<!-- end service section -->

<!-- gallery section -->
<section class="gallery-section layout_padding">
    <div class="container">
        <h2>
            Our Gallery
        </h2>
    </div>

    <!--<div class="container ">
        <div class="img_box box-1">
            <img src="{%static 'core/IMG/g-1.png'%}" alt="">
        </div>
        <div class="img_box box-2">
            <img src="{%static 'core/IMG/g-2.png'%}" alt="">
        </div>
        <div class="img_box box-3">
            <img src="{%static 'core/IMG/g-3.png'%}" alt="">
        </div>
        <div class="img_box box-4">
            <img src="{%static 'core/IMG/g-4.png'%}" alt="">
        </div>
        <div class="img_box box-5">
            <img src="{%static 'core/IMG/g-5.png'%}" alt="">
        </div>
    </div>-->

</section>
{% endblock %}