{% extends 'core/index.html' %}
{% load static %}
{% block Home %}
<!-- service section -->
<section class="service_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-2">
                <h2 class="custom_heading">
                    Nuestros <span>Servicios</span>
                </h2>
                <div class="container layout_padding2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img_box">
                                <img src="images/s-1.png" alt="">
                            </div>
                            <div class="detail_box">
                                <h6>
                                    Consultas médicas
                                </h6>
                                <p>
                                    Proporcionamos atención médica general y especializada a los pacientes.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img_box">
                                <img src="images/stero.png" alt="">
                            </div>
                            <div class="detail_box">
                                <h6>
                                    Exámenes de laboratorio
                                </h6>
                                <p>
                                    Realizamos pruebas de laboratorio para diagnosticar
                                    enfermedades y evaluar la salud de los pacientes.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img_box">
                                <img src="images/s-3.png" alt="">
                            </div>
                            <div class="detail_box">
                                <h6>
                                    Radiología:
                                </h6>
                                <p>
                                    Ofrecemos servicios de radiografía, resonancia magnética,
                                    tomografía computarizada u otros estudios de diagnóstico por imágenes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="images/tool.png" alt="" class="w-100">
            </div>
        </div>
    </div>
</section>
{% endblock %}