{%load static%}

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Dos alamos</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'core/css/style.css'%}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="{% url 'vista_paciente' %}">
                        <img src="{% static 'core/IMG/logo.png' %}" alt="Logo">
                        <span>Dos alamos</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'vista_paciente' %}">Inicio <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'doctores' %}">Doctores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'clinica' %}">Clinica</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'formulario' user_id %}">Pedir Hora</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mostrar_horas_tomadas' user_id %}">Historial horas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'funcion_logout' %}">Cerrar Sesion</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </header>
        <section class="about_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-box">
                            <img src="{%static 'core/IMG/edificio.jpg'%}" alt="">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <center>
                            <div class="detail-box" style="text-overflow: ellipsis;">
                                <h2 class="custom_heading">
                                    Bienvenido
                                    <span>
                                        {{user.first_name}} {{user.last_name}}
                                    </span>
                                </h2>
                                <p>
                                </p>
                            </div>
                        </center>
                    </div>

                </div>
            </div>
        </section>

        <!-- service section -->
        <!-- service section -->
        <section class="service_section layout_padding">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 offset-md-2">
                        <h2 class="custom_heading">
                            Nuestros <span>Servicios</span>
                        </h2>
                        <div class="container layout_padding2">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="img_box">
                                        <img src="{%static 'core/IMG/patient.png'%}" alt="">
                                    </div>
                                    <div class="detail_box">
                                        <h6>
                                            Consultas médicas
                                        </h6>
                                        <p>
                                            Proporcionamos atención médica general y especializada a los pacientes.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="img_box">
                                        <img src="{%static 'core/IMG/medical-symbol.png'%}" alt="">
                                    </div>
                                    <div class="detail_box">
                                        <h6>
                                            Exámenes de laboratorio
                                        </h6>
                                        <p>
                                            Realizamos pruebas de laboratorio para diagnosticar
                                            enfermedades y evaluar la salud de los pacientes.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="img_box">
                                        <img src="{%static 'core/IMG/radiologia.png'%}" alt="">
                                    </div>
                                    <div class="detail_box">
                                        <h6>
                                            Radiología:
                                        </h6>
                                        <p>
                                            Ofrecemos servicios de radiografía, resonancia magnética,
                                            tomografía computarizada u otros estudios de diagnóstico por imágenes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="{%static 'core/IMG/tool.png'%}" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </section>

        <!-- end service section -->

        <!-- gallery section -->
        <section class="gallery-section layout_padding">
            <div class="container">
                <h2>
                    Our Gallery
                </h2>
            </div>

            <!--<div class="container ">
        <div class="img_box box-1">
            <img src="{%static 'core/IMG/g-1.png'%}" alt="">
        </div>
        <div class="img_box box-2">
            <img src="{%static 'core/IMG/g-2.png'%}" alt="">
        </div>
        <div class="img_box box-3">
            <img src="{%static 'core/IMG/g-3.png'%}" alt="">
        </div>
        <div class="img_box box-4">
            <img src="{%static 'core/IMG/g-4.png'%}" alt="">
        </div>
        <div class="img_box box-5">
            <img src="{%static 'core/IMG/g-5.png'%}" alt="">
        </div>
    </div>-->

        </section>